#offcanvasCart {
    &.offcanvas {
        z-index: 9000000000000000000000;
    }

    &.offcanvas.offcanvas-end {
        width: 100%;
        max-width: 550px;
    }

    .offcanvas-header {
        @include flex(row, center, flex-start, 2rem);

        border-bottom: 1px solid $gray-300;

        strong {
            font-size: $h3;
            text-transform: uppercase;
        }

        button {
            background-color: transparent;
            border: none;

            color: $black;

            i {
                font-size: 1.5rem;
            }
        }
    }

    .offcanvas-body {
        @include flex(column, center, space-between, 1rem);

        padding: 1rem;

        .sideCart_products_list {
            @include flex(column, flex-start, flex-start, 1rem);
            
            width: 100%;
            height: 100%;

            overflow: auto;

            .sideCart_product {
                @include flex(row, flex-start, flex-start, 1rem);

                border: 1px solid $white;
                height: 140px;

                .thumb {
                    overflow: hidden;

                    width: 140px;
                    min-width: 140px;
                    height: 140px;
                    min-height: 140px;
                }
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .product_body {
                    @include flex(column, center, space-between);

                    width: 100%;
                    height: 100%;

                    header {
                        @include flex(row, flex-start, space-between, 1rem);

                        strong {
                            font-size: 1.125rem;
                            text-transform: uppercase;

                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            text-overflow: ellipsis;
                        }

                        button {
                            @include flex(row, center, center);
            
                            background-color: transparent;
                            border: none;
                            border-radius: 0.5rem;
                            
                            padding: 0.5rem;

                            transition: background-color 200ms ease-in-out;
                            
                            i {
                                font-size: 1.5rem;
                            }

                            &:hover {
                                background-color: $gray-100;
                            }
                        }
                    }

                    footer {
                        @include flex(row, flex-end, space-between);

                        width: 100%;
                    }

                    .amount {
                        @include flex(row, center, center, 1rem);
                        
                        background-color: $gray-100;
                        
                        button {
                            @include flex(row, center, center);
                            
                            background-color: transparent;
                            border: none;
                            
                            padding: 0.5rem;

                            i {
                                font-size: 1.25rem;
                            }
                            
                            &:hover {
                                background-color: $gray-200;
                            }
                        }   

                        @media (min-width: 475px) {
                            .productAmount_view {
                                padding: 0 0.5rem;
                            }
                        }
                    }
                    
                    .price {
                        @include flex(column, flex-end, flex-end);

                        text-align: right;

                        span {
                            text-decoration: line-through;
                            color: $gray-500;
                            font-size: 0.875rem;
                        }

                        strong {
                            font-size: 1.25rem;
                        }
                    }

                    span {
                        font-size: 1rem;
                        text-transform: uppercase;
    
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        text-overflow: ellipsis;
                    }
                }

                @media (max-width: 475px) {
                    height: 100px;

                    .thumb {
                        width: 100px;
                        min-width: 100px;
                        height: 100px;
                        min-height: 100px;
                    }
                }
            }
        }
    }

    .total {
        @include flex(column, center, center, 1rem);
        width: 100%;

        padding: 1rem;

        border-top: 1px solid $gray-300;

        > div {
            @include flex(row, center, space-between);
            width: 100%;

            strong {
                font-size: $h3;
            }
        }

        button {
            width: 100%;
        }
    }
}