.showcase {
    width: 100%;

    &-listProduct {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @include small {
            grid-template-columns: repeat(2, 1fr);
        }
        @include medium {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.product {
    position: relative;
    z-index: 1;

    height: 100%;
    
    &-image {
        overflow: hidden;
        height: 550px;

        img {
            width: 100%;
            height: 100%;

            object-fit: cover;

            transition: transform 200ms ease-in-out;
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }

        @include small {
            height: 350px;
        }

        @include medium {
            height: 450px;
        }
    }

    &-info {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}
