<aside class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
    <header class="offcanvas-header">
        <strong class="offcanvas-title" id="offcanvasMenuLabel">MENU</strong>

        <button type="button" data-bs-dismiss="offcanvas" aria-label="Close">
            <div class="ph-x"></div>
        </button>
    </header>
  
    <div class="offcanvas-body">
        <div class="menuMobile-account">

            {# SE ESTÁ LOGADO #}
            <div class="tray-hide account-item logged" data-logged-user="true">
                <button class="account-button" data-toggle="account">
                    <span class="account-text">Ol&aacute;, <span data-customer="name"></span></span>
                    <span class="icon-arrow-simple" aria-hidden="true"></span>
                </button>
                <div class="account-access">
                    <span class="icon-account" aria-hidden="true"></span>
                    <a class="account-link" href="{{ links.central }}" title="Minha Conta"> Minha conta </a>
                    <span class="account-separator">/</span>
                    <a class="account-link" href="{{ links.logout }}" title="Sair">Sair</a>
                </div>
            </div>

            {# SE NÃO ESTÁ LOGADO #}
            <div class="tray-hide account-item loggedout" data-logged-user="false">
                <strong>Olá, visitante</strong>
                <span>Acesse sua conta para continuar</span>

                <a href="{{ links.login }}" class="cta">
                    Acessar minha conta
                </a>

                <span>Ainda não tem conta? <a href="{{ links.register }}"><strong>Cadastre-se agora</strong></a></span>
            </div>
        </div>

        <div class="menuMobile-content">
            <nav class="menuMobile-menu">
                <ul class="menu-list">
                    {% for category in categories %}
                        <li class="menu-firstLevel {{ category.children ? 'subList' }}">
                            <a class="menu-link" href="{{ category.link }}">{{ category.name }}</a>
    
                            {% if category.children %}
                                <ul class="menu-secondLevel">
                                    {% for level2 in category.children %}
                                        <li {% if level2.children %} class="sub" {% endif %}>
                                            <a class="menu-link" href="{{ level2.link }}">{{ level2.name }}</a>
    
                                            {% if level2.children %}
                                                <ul class="menu-thirdLevel">
                                                    {% for level3 in level2.children %}
                                                        <li>
                                                            <a class="menu-link" href="{{ level3.link }}">{{ level3.name }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</aside>
